<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rea.myoffice.mapper.BranchinfoMapper">
  <resultMap id="BaseResultMap" type="com.rea.myoffice.model.Branchinfo">
    <id column="BranchId" jdbcType="INTEGER" property="branchid" />
    <result column="BranchName" jdbcType="VARCHAR" property="branchname" />
    <result column="BranchShortName" jdbcType="VARCHAR" property="branchshortname" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    BranchId, BranchName, BranchShortName
  </sql>
  <select id="selectByExample" parameterType="com.rea.myoffice.model.BranchinfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from branchinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from branchinfo
    where BranchId = #{branchid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from branchinfo
    where BranchId = #{branchid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.rea.myoffice.model.BranchinfoExample">
    delete from branchinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rea.myoffice.model.Branchinfo">
    insert into branchinfo (BranchId, BranchName, BranchShortName
      )
    values (#{branchid,jdbcType=INTEGER}, #{branchname,jdbcType=VARCHAR}, #{branchshortname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rea.myoffice.model.Branchinfo">
    insert into branchinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="branchid != null">
        BranchId,
      </if>
      <if test="branchname != null">
        BranchName,
      </if>
      <if test="branchshortname != null">
        BranchShortName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="branchid != null">
        #{branchid,jdbcType=INTEGER},
      </if>
      <if test="branchname != null">
        #{branchname,jdbcType=VARCHAR},
      </if>
      <if test="branchshortname != null">
        #{branchshortname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rea.myoffice.model.BranchinfoExample" resultType="java.lang.Long">
    select count(*) from branchinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update branchinfo
    <set>
      <if test="record.branchid != null">
        BranchId = #{record.branchid,jdbcType=INTEGER},
      </if>
      <if test="record.branchname != null">
        BranchName = #{record.branchname,jdbcType=VARCHAR},
      </if>
      <if test="record.branchshortname != null">
        BranchShortName = #{record.branchshortname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update branchinfo
    set BranchId = #{record.branchid,jdbcType=INTEGER},
      BranchName = #{record.branchname,jdbcType=VARCHAR},
      BranchShortName = #{record.branchshortname,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rea.myoffice.model.Branchinfo">
    update branchinfo
    <set>
      <if test="branchname != null">
        BranchName = #{branchname,jdbcType=VARCHAR},
      </if>
      <if test="branchshortname != null">
        BranchShortName = #{branchshortname,jdbcType=VARCHAR},
      </if>
    </set>
    where BranchId = #{branchid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rea.myoffice.model.Branchinfo">
    update branchinfo
    set BranchName = #{branchname,jdbcType=VARCHAR},
      BranchShortName = #{branchshortname,jdbcType=VARCHAR}
    where BranchId = #{branchid,jdbcType=INTEGER}
  </update>
</mapper>