<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rea.myoffice.mapper.ManualsignMapper">
  <resultMap id="BaseResultMap" type="com.rea.myoffice.model.Manualsign">
    <id column="SignId" jdbcType="INTEGER" property="signId" />
    <result column="UserId" jdbcType="VARCHAR" property="userId" />
    <result column="SignTime" jdbcType="TIMESTAMP" property="signTime" />
    <result column="SignDesc" jdbcType="VARCHAR" property="signDesc" />
    <result column="SignTag" jdbcType="INTEGER" property="signTag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    SignId, UserId, SignTime, SignDesc, SignTag
  </sql>
  <select id="selectByExample" parameterType="com.rea.myoffice.model.ManualsignExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from manualsign
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from manualsign
    where SignId = #{signId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from manualsign
    where SignId = #{signId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.rea.myoffice.model.ManualsignExample">
    delete from manualsign
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rea.myoffice.model.Manualsign">
    insert into manualsign (SignId, UserId, SignTime, 
      SignDesc, SignTag)
    values (#{signId,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{signTime,jdbcType=TIMESTAMP}, 
      #{signDesc,jdbcType=VARCHAR}, #{signTag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.rea.myoffice.model.Manualsign">
    insert into manualsign
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="signId != null">
        SignId,
      </if>
      <if test="userId != null">
        UserId,
      </if>
      <if test="signTime != null">
        SignTime,
      </if>
      <if test="signDesc != null">
        SignDesc,
      </if>
      <if test="signTag != null">
        SignTag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="signId != null">
        #{signId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="signTime != null">
        #{signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signDesc != null">
        #{signDesc,jdbcType=VARCHAR},
      </if>
      <if test="signTag != null">
        #{signTag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rea.myoffice.model.ManualsignExample" resultType="java.lang.Long">
    select count(*) from manualsign
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update manualsign
    <set>
      <if test="row.signId != null">
        SignId = #{row.signId,jdbcType=INTEGER},
      </if>
      <if test="row.userId != null">
        UserId = #{row.userId,jdbcType=VARCHAR},
      </if>
      <if test="row.signTime != null">
        SignTime = #{row.signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.signDesc != null">
        SignDesc = #{row.signDesc,jdbcType=VARCHAR},
      </if>
      <if test="row.signTag != null">
        SignTag = #{row.signTag,jdbcType=INTEGER},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update manualsign
    set SignId = #{row.signId,jdbcType=INTEGER},
      UserId = #{row.userId,jdbcType=VARCHAR},
      SignTime = #{row.signTime,jdbcType=TIMESTAMP},
      SignDesc = #{row.signDesc,jdbcType=VARCHAR},
      SignTag = #{row.signTag,jdbcType=INTEGER}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rea.myoffice.model.Manualsign">
    update manualsign
    <set>
      <if test="userId != null">
        UserId = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="signTime != null">
        SignTime = #{signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signDesc != null">
        SignDesc = #{signDesc,jdbcType=VARCHAR},
      </if>
      <if test="signTag != null">
        SignTag = #{signTag,jdbcType=INTEGER},
      </if>
    </set>
    where SignId = #{signId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rea.myoffice.model.Manualsign">
    update manualsign
    set UserId = #{userId,jdbcType=VARCHAR},
      SignTime = #{signTime,jdbcType=TIMESTAMP},
      SignDesc = #{signDesc,jdbcType=VARCHAR},
      SignTag = #{signTag,jdbcType=INTEGER}
    where SignId = #{signId,jdbcType=INTEGER}
  </update>
</mapper>