<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rea.myoffice.mapper.ReadcommonmessageMapper">
  <resultMap id="BaseResultMap" type="com.rea.myoffice.model.Readcommonmessage">
    <id column="ReadId" jdbcType="INTEGER" property="readId" />
    <result column="MessageId" jdbcType="INTEGER" property="messageId" />
    <result column="UserId" jdbcType="VARCHAR" property="userId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ReadId, MessageId, UserId
  </sql>
  <select id="selectByExample" parameterType="com.rea.myoffice.model.ReadcommonmessageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from readcommonmessage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from readcommonmessage
    where ReadId = #{readId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from readcommonmessage
    where ReadId = #{readId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.rea.myoffice.model.ReadcommonmessageExample">
    delete from readcommonmessage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rea.myoffice.model.Readcommonmessage">
    insert into readcommonmessage (ReadId, MessageId, UserId
      )
    values (#{readId,jdbcType=INTEGER}, #{messageId,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rea.myoffice.model.Readcommonmessage">
    insert into readcommonmessage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="readId != null">
        ReadId,
      </if>
      <if test="messageId != null">
        MessageId,
      </if>
      <if test="userId != null">
        UserId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="readId != null">
        #{readId,jdbcType=INTEGER},
      </if>
      <if test="messageId != null">
        #{messageId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rea.myoffice.model.ReadcommonmessageExample" resultType="java.lang.Long">
    select count(*) from readcommonmessage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update readcommonmessage
    <set>
      <if test="row.readId != null">
        ReadId = #{row.readId,jdbcType=INTEGER},
      </if>
      <if test="row.messageId != null">
        MessageId = #{row.messageId,jdbcType=INTEGER},
      </if>
      <if test="row.userId != null">
        UserId = #{row.userId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update readcommonmessage
    set ReadId = #{row.readId,jdbcType=INTEGER},
      MessageId = #{row.messageId,jdbcType=INTEGER},
      UserId = #{row.userId,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rea.myoffice.model.Readcommonmessage">
    update readcommonmessage
    <set>
      <if test="messageId != null">
        MessageId = #{messageId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        UserId = #{userId,jdbcType=VARCHAR},
      </if>
    </set>
    where ReadId = #{readId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rea.myoffice.model.Readcommonmessage">
    update readcommonmessage
    set MessageId = #{messageId,jdbcType=INTEGER},
      UserId = #{userId,jdbcType=VARCHAR}
    where ReadId = #{readId,jdbcType=INTEGER}
  </update>
</mapper>